body {
  .container {
    @include mobile {
      padding: 10px;
    }
  }
  .head-text {
    font-weight: 600;
    @include desktop {
      font-size: 50px;
    }
    @include mobile {
      font-size: 30px;
    }
  }
  .search-bar-text {
    font-weight: 600;
    @include desktop {
      font-size: 40px;
    }
    @include mobile {
      font-size: 20px;
    }
  }
  .chain-button {
    border: none !important;
    border-radius: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    position: relative;
    padding: 0 8px;

    &:hover,
    &:focus,
    &:active {
      border: none;
      box-shadow: none;
      font-weight: 800;
    }

    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 12px;
        background: #fff;
      }
    }
  }

  .dropdown-content {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    a.dropdown-item {
      color: black;
      &:hover,
      &:focus {
        color: black;
        background-color: #c4c4c4;
      }
    }
  }
  .dropdown .dropdown-menu .has-link a {
    color: $button-text;
  }

  .dropdown-menu .dropdown-item .field {
    .label {
      color: red;
      font-weight: 600;
    }
    .field-body span select {
      background: white !important;
      color: $button-text;
      font-weight: 600;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
    .field-body span select option {
      background: white !important;
      color: $button-text;
      font-weight: 600;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
  }
  .button {
    font-weight: 600;
    border: 2px solid #ffffff;
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    font-size: 16px;
    border-color: $white;
    background-color: $white;

    &.is-primary {
      border-color: $white;
      background-color: $white;
      color: $button-text;
      &:hover,
      &:focus {
        border-color: white;
        color: white;
        background-color: $head-background;
      }
    }
    &.is-inverte {
      border-color: $white;
      background-color: $head-background;
      color: $white;
      &:hover,
      &:focus {
        border-color: white;
        color: $head-background;
        background-color: $white;
      }
    }
  }

  .button.is-primary:focus:not(:active),
  .button.is-primary.is-focused:not(:active),
  .button.is-inverte:focus:not(:active),
  .button.is-inverte.is-focused:not(:active) {
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.3);
  }

  .button.is-primary.is-outlined {
    background-color: #fff;
    border-color: #fff;
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.3);
    color: $button-text;
    border-radius: 16px;
  }
  .button.is-primary.is-outlined[disabled],
  fieldset[disabled] .button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
    border-radius: 16px;
  }

  .collection_head {
    font-weight: 600;
    font-size: 22px;
  }

  .collection_label {
    font-weight: 600;
    font-size: 16px;
  }

  .switch input[type="checkbox"]:checked + .check {
    background: #7957d5;
  }
  .switch input[type="checkbox"]:focus:checked + .check,
  .switch input[type="checkbox"]:active:checked + .check {
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .switch:hover input[type="checkbox"]:checked + .check {
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .upload .upload-draggable {
    border: 3px solid #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(-10px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 21px;
  }

  .select select,
  .taginput .taginput-container.is-focusable,
  .textarea,
  .input {
    color: $white;
    background-color: transparent;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(-10px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
  }

  .control {
    input[type="search"] {
      background: white;
      color: $button-text;
      box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.5);
      border-radius: 16px;
      font-weight: 600;
    }
    &.has-icons-left .icon {
      color: purple;
    }
    &.has-icons-left .input:focus ~ .icon {
      color: purple;
    }
    select {
      background: white;
      color: $button-text;
      font-weight: 600;
    }
    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: $button-text;
    }
  }
  .select {
    &:not(.is-multiple):not(.is-loading):hover::after {
      border-color: $button-text;
    }

    select {
      option {
        color: $button-text !important;
      }
    }
  }

  .select select[disabled],
  .taginput [disabled].taginput-container.is-focusable,
  [disabled].textarea,
  [disabled].input,
  fieldset[disabled] .select select,
  .select fieldset[disabled] select,
  fieldset[disabled] .taginput .taginput-container.is-focusable,
  .taginput fieldset[disabled] .taginput-container.is-focusable,
  fieldset[disabled] .textarea,
  fieldset[disabled] .input {
    background-color: $scheme-main;
  }

  .notices .toast.is-dark {
    background: $primary;
  }

  .notices .toast.is-white {
    background: $white;
    color: $button-text;
    font-weight: bold;
    border-radius: 11px;
  }

  .carousel .carousel-indicator .indicator-item .indicator-style {
    display: block;
    border: 1px solid #fff;
    background: #7957d5;
    outline: none;
    transition: 150ms ease-out;
  }

  .carousel .carousel-indicator .indicator-item.is-active .indicator-style,
  .carousel .carousel-indicator .indicator-item .indicator-style:hover {
    background: pink;
    border: 1px solid #fff;
  }
  .carousel .carousel-arrow span {
    background: white;
    color: $button-text;
    border: white;
  }

  .label {
    color: red;
    // color: purple;
    // text-transform: uppercase;
    font-size: calc(1rem * 0.75);
  }
  .help span {
    color: red;
  }

  .text {
    &__stroked {
      color: $primary;
      -webkit-text-fill-color: $black;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $primary;
      padding: 0 8px 0 0;
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  .is-flex-inline {
    display: inline-flex;
  }

  .loading-overlay .loading-background {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-background {
    background-color: rgba(0, 0, 0, 0.86);
  }

  a {
    color: $white;
    &:hover {
      color: white;
      font-weight: 800;
    }
  }

  .message.is-primary {
    background-color: #ffebfa !important;
  }

  // .button.is-text {
  //   &:hover {
  //     background-color: #363636;
  //   }

  //   &:focus {
  //     background-color: #363636;
  //     border: none;
  //   }
  // }

  // .icon.is-primary {
  //     color: $primary !important;
  // }
  .navbar-start {
    .router-link-active {
      color: $white;
      // background-color: #121212;
    }
  }
  .navbar-menu {
    a:hover,
    a:active,
    a:focus, a::selection {
      color: $white;
      background: $head-background;
    }
    .navbar-end {
      .navbar-item {
        background: $head-background;
      }
    }
  }

  .orientation {
    perspective: 30em;
  }

  pre {
    background-color: $black;
    color: $primary;
  }

  .pagination-link {
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .title,
  .card-header-title {
    color: $text !important;
  }
}
